# Python virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files or directories (customize as needed)
data/

# VSCode workspace
SDS Thesis.code-workspace

# Literature folder
lit/