# Python virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files or directories (customize as needed)
data/

# VSCode workspace
SDS Thesis.code-workspace

# Literature folder
lit/

# LaTeX Intermediate Files
*.aux
*.log
*.out
*.nav
*.snm
*.vrb

# LaTeX Output Files
*.dvi
*.ps
*.pdf
*.bbl
*.blg
*.toc

# Temporary Files
*~
.*.swp

# Python Intermediate Files
*.pyc
*__pycache__

# Other
.latexmkrc
.style/*
*.fdb_latexmk
*.fls
*.synctex.gz
/test_trainer